{% extends "base.html" %}

{%  block start %}
<style>
/* grouped css attributes via type */
body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background: #fff;
  color: #777;
}

/* nav */
nav {
  margin-bottom: 1rem;
}

nav a {
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

nav a:hover,
a:active,
a:focus {
  color: red;
  outline: none;
  text-decoration: none;
}

/* jumbotron*/
.colorful {
  background: #4b79a1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #283e51, #4b79a1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #283e51, #4b79a1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0px;
  padding: 0px 0 1rem 0 !important;
}

.form-card {
  background: #fff;
  border-bottom: 7px solid #1e3c72;
  border-top: 7px solid #1e3c72;
  color: black;
  padding: 0 2rem;
}

.form-card h3 {
  color: #000;
  padding: 1rem 0 0.1rem 0;
}

/* hotel card */
.hotel-card {
  border: none !important;
}
.hotel-card .card-img-top {
  border-radius: 0px;
  height: 230px;
}

.hotel-card .card-body {
  padding: 0px !important;
}

.hotel-card .card-body h5 {
  margin: 0.5rem 0;
}

.hotel-card .card-body h5 a {
  color: #777;
}

.hotel-card .card-body p {
  font-size: 0.9rem;
}
/* end of hotel cards */

/* business process section */
#process {
  background: #2980b9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c3e50, #2980b9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2c3e50, #2980b9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

#process h2,
h3 {
  
  color: #fff;
  margin: 1rem 0;
  padding: 0 0 1rem 0;
}

#process h2 {
  font-size: 3rem;
  font-weight: 700;
}

#process h3 {
  font-size: 1.7rem;
}

#process p {
  color: rgba(255, 255, 255, 0.7);
}

.icon {
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 33px 29px;

  background: #2980b9;
  color: #fff;
}

#process .icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#process .icon .fa {
  font-size: 2rem;
  margin: 11px 2px;
}

#process .process-step {
  text-align: center;
}

#process .process-step h3 {
  color: white;
  margin-top: 2.2rem;
}

#stat-counter {
  text-align: center;
}
#stat-counter h2 {
  font-size: 3rem;

  border-bottom: 1px solid #777;
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
}

#stat-counter p {
  padding-top: 1rem;
}

#stat-counter .counter {
  display: block;

  margin-bottom: 10px;

  color: #2980b9;
  font-size: 50px;
  font-weight: 100;
}

#subscribe-panel {
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 5rem 1rem;
}

#subscribe-panel h2 {
  position: relative;

  margin-bottom: 10px;

  color: white;
  line-height: 1.5;
  font-size: 50px;
  font-weight: 300;
}

#subscribe-panel.form-control {
  width: 100%;

  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  background: #fff;
  color: #fff;
  font-size: 16px !important;
}

#subscribe-panel.form-control:focus {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8) !important;
}

#subscribe-panel.form-control::-webkit-input-placeholder,
#subscribe-panel.form-control:-moz-placeholder,
#subscribe-panel.form-control::-moz-placeholder,
#subscribe-panel.form-control:-ms-input-placeholder {
  color: #fff;
}

#subscribe-panel.btn {
  height: 46px;
  border: none !important;
  padding-left: 50px;
  padding-right: 50px;

  background: #09c6ab;

  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

#subscribe-panel.form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}

#subscribe-panel.form-inline .form-group .form-control {
  width: 100%;
}

#subscribe-panel.gtco-heading {
  margin-bottom: 30px;
}

#subscribe-panel.gtco-heading h2 {
  color: #fff;
}

#subscribe-panel.gtco-heading p {
  color: rgba(255, 255, 255, 0.5);
}
.copyright {
  background: #005c97; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #363795,
    #005c97
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #363795,
    #005c97
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.copyright h3 {
  color: #fff;
  font-size: 2.5rem;
}
.copyright p {
  color: #fff;
}

.footer-nav a {
  color: #777;
}

/* destination page */
.destination-container {
  height: 70vh;
  padding: 7rem;
}

.hotels-form {
  background: #283e51; /* fallback for old browsers */
  padding: 1rem;
}

.hotels-container {
  padding: 0.5rem 0 7rem 0;
}

.search-container {
  background: #d3d3d3;
}

.search-card-result {
  box-shadow: 0px 1px 4px rgba(41, 51, 57, 0.5);
  margin: 1rem 0;
  padding: 0.5rem 0;
  background-color: #fff;
}
.search-card-result img {
  height: 190px;
}
.search-card-result h5 {
  font-style: 1.1rem;
  font-weight: 700;
}
.search-card-result p {
  font-size: 0.9rem;
}

.search-card-result .more-offers p {
  margin-bottom: 0.3rem;
}

.more-offers .additional {
  padding-top: 0.2rem;
  font-weight: 700;
}

.fa.checked {
  color: orange;
}

.map-container-btn {
  height: 100px;

  box-shadow: 0px 1px 4px rgba(41, 51, 57, 0.5);
  background-color: wheat;
}

.map-container-btn .btn {
  margin-top: 30px;
}

.filter-card {
  padding: 0;
  background: #fff;
  color: black;
}

.filter-card h5 {
  margin: 10px 0;
  padding: 1rem;

  box-shadow: 0px 1px 4px rgba(41, 51, 57, 0.5);
  color: #000;
}
.filter-card form {
  box-shadow: 0px 1px 4px rgba(41, 51, 57, 0.5);
  padding: 0.5rem 2rem;
}
.map-btn {
  background-color: #fff !important;
}

/* SOCIAL ICONS.CSS */

  .nav .fa {
    margin: 5px 2px;
    padding: 20px;
    
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

 .slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
  
  background: #1e3c72;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
  
  background: #1e3c72;
    cursor: pointer;
}
</style>  
<!-- jumbotron and nav -->
    
    <div class="container hotels-container" style="background-color: rgba(0,0,0,0.4);">

        <div class="row mt-2 justify-content-between">
            <div class="col-md-8 text-white align-self-center mb-2 p-4">
                <h1>Welcome to OHRS </h1>
                <span class=""> Choose From a Wide Range of Hotel rooms Which OHRS Offers. Search Now! Find What You Need At OHRS, The Biggest Hotel Reservation Site In Bangladesh. Find the best hotel deals at your favourite location. Book 5-star hotels, at 3-star prices, only with OHRS.com. Best Price Guarantee.
                </span>
            </div>
           
        </div>
    </div>
</section>

<section class="search-container mb-5 pb-5"style="background-color: rgba(0,0,0,0.4);">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <div class="row my-3">
                    
            </div>

        </div>
    

            

            <div class="col-lg-10  px-4 mb-5">
                <form >
                <div class="row mt-3" style="background-color: rgba(0,0,0,0.4);">
                <h3><br></h3>
                    <div class="col-md-4">
                    <div class="form-outline" >
                        <label class="" style="color:white;" for="exampleFormControlSelect1">Sort by</label>
                        <select class="form-control" name="sort_by" id="exampleFormControlSelect1">
                            <option value="">Recommended</option>
                            <option {% if sort_by == 'ASC' %} selected {%endif %} value="ASC">ASC</option>
                            <option {% if sort_by == 'DSC' %} selected {%endif %} value="DSC">DSC</option>
                           
                        </select>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-outline">
                            <label class="" style="color:white;" for="exampleFormControlSelect1">Search</label>
                            <input name="search" class="form-control" value="{{search}}" placeholder="Search"> 
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-outline">
                           <label class="" style="color:white;" for="exampleFormControlSelect1">Amenities</label>
                            <select name="amenities" class="form-control" multiple>
                            <option value="">Choose</option>
                            {% for amenities_obj in amenities_objs %}
                            <option {% if amenities_obj.amenity_name in amenities  %} selected {%endif%}value="{{amenities_obj.amenity_name}}">{{amenities_obj.amenity_name}}</option>
                                {% endfor %}
                        </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                     
                            <button style="margin-top: 30px;padding: 15px 30px;margin-bottom: 10px" type="submit" class="btn btn-success">Find</button>
                        </div>
                </div>
                </form>
                
                {% for hotels_obj in hotels_objs %}
                <div class="row search-card-result">
                

                    
                    <div class="col-md-3">
                       
                    <a href="/hotel-detail/{{hotels_obj.uid}}">
                        <img class="img-fluid" src="{{hotels_obj.images.url}}" alt="Card image cap">
                    
                    </a></div>
               
                    <div class="col-md-5">
                        <h3 style="color:black;">{{hotels_obj.hotel_name}}</h3>
                        <p style="color:Black;font-size:11px;">
                            {{hotels_obj.description|truncatechars:150}}
                        </p>
                        <p>
                        <p style="color:black;font-size:13px;"><b>Amenities:</b> 
                            {%for amenitie in hotels_obj.amenities.all %}
                            {{amenitie.amenity_name}},
                            {% endfor %}
                        </p>
                        <p style="color:black;font-size:13px;"><b>Location:</b> 
                        {{hotels_obj.District}},{{hotels_obj.Division}}</p>
                        
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                      <br>
                      <p style="color:black;font-size:14px;"><b>Price:</b></p>
                      <p style="color:black;font-size:14px;">BDT-{{hotels_obj.hotel_price}}</p>
                      <br>
                      <p style="color:black;font-size:13px;">Room count :</p>
                      <p style="color:black;font-size:11px;">{{hotels_obj.room_count}}</p>
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                       
                        <div  class="btn btn-success" > <a style="text-decoration: none;color:white" href="/hotel-detail/{{hotels_obj.uid}}">View deal </a></div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>

    </div>
</section>

{% endblock %}